@import "../abstracts/variables";

.result-page {
  min-width: 100vw;
  min-height: 100vh;

  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    font-size: 4rem;
    color: $color-material-font;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__button {
    margin-top: 4rem;
  }
}
